<% layout('/layout/lkLayout') -%>
<% block('title', 'Диалоги') -%>
<% block('style', '<link rel="stylesheet" href="' + publicStaticServer + '/styles/im.css"/>')%>
<% block('script', '<script type="text/javascript" src="' + publicStaticServer + '/scripts/dialogs.js"></script>')%>
<% block('smoothEverythingContent', '') %>


<!--
 	Кирилл, теперь хост статики доступен вот таким образом: <%=publicStaticServer%>
	Он задается в файле config/config.json(general.publicStaticServer) и передается сюда для рендеринга.
	Так как планируется еще и изменение самого домена, поэтому этот вариант пока будем использовать.
	Иначе потом придется руками менять хост везде.
	Пример <%=publicStaticServer%>/assets/imCreateDialogButton.png, где <%=publicStaticServer%> - наш хост
-->

<script> window.host = <%-JSON.stringify(host)%>;</script>
<script>
	window.imTemplates = <%-JSON.stringify(templates)%>;
	window.convs = <%-JSON.stringify(convs)%>;
	console.log(window.convs);

</script>



<div id="spaceForMessages">

	<div id="spaceForMessargesHeader">
		<div id="leftPartOfMessagesHeader">
			<input id="searchOfContactsField" type="text" placeholder="Поиск">
			<img id="createConversation"src="<%=publicStaticServer%>/images/imCreateDialogButton.png" alt="">
		</div>
		<div id="rightPartOfMessagesHeader" class=''>
		<img style='visibility:hidden;'src="<%=publicStaticServer%>/images/global/backArrowIcon.png" alt="">
		<p id='dialogName' class="dialogName fontBlueColor"></p>
		</div>

		<div class="clear"></div>
	</div>

	<div>

		<div id="wrapperOfLayoutForContact">
			<div id="layoutForContact">
				<p id="waitingResult" class="hide">здесь будут выводиться результаты</p>
				<p id="noResultsContacts" class="hide">ничего не найдено</p>


				<table style="width:100%">

					<!--Сюда вставляются контакты-->

				</table>
			</div>
		</div>


		<div id="wrapperOfLayoutMessages" class="">
			<div id="layoutForMessages">
				<p id="noMessages" class='hide'><span class="imGreetingScreenUsername">Привет, <%=user.name%>!</span> <br/> Выбери диалог</p>

				<!--Сюда вставляются сообщения-->

			</div>

		</div>

		<form action="" id="formForMessage" class="hide">
			<p id="whoTypingMessage"></p>
			<textarea name="" id="enteringMessageForm" rows="3"></textarea>
			<img src="<%=publicStaticServer%>/images/imAttachButton.png" alt="">

			<ul id="menuOfAddingDocument" class="">
				<li><img src="<%=publicStaticServer%>/images/imAddPhotoIcon.svg" alt=""> <p class="fontBlueColor">Фотография</p> </li>
				<li><img src="<%=publicStaticServer%>/images/imAddDocumentIcon.svg" alt=""> <p class="fontBlueColor">Документ</p> </li>
				<li><img src="<%=publicStaticServer%>/images/imAddEventIcon.svg" alt=""> <p class="fontBlueColor">Событие</p> </li>
				<img id='decorativeTriangle' src="<%=publicStaticServer%>/images/imAddDocumentsBottomTriangle.svg">
			</ul>


			<ul id="listOfAddedDocuments">
				<!--Сюда вставляются добавленый документы-->
			</ul>


		</form>

		<div id="layoutForCreatingConversation" class="hide">

			<input id="inputNameOfCreatingConversation" class="" placeholder="Название..." type="text">

			<div id="areaForAddingParticipantsInConversation">
				<input id="queryForAddingParticipants" placeholder="Участники беседы..."></input>
			</div>

			<p class="fontBlueColor" id="tipsForCreatingConversation">Начните вводить критерии для поиска людей(имя, фамилия или номер группы), в начале написав
				“@“, например @Илья Горбунов для поиска людей с таким именем или @4304 для поиска всех
				студентов группы 4304. Критерии можно комбинировать между собой. Участников следует
				разделять между собой запятой.</p>

			<textarea name="" id="areaForFirstMessageInConversation" placeholder="Текст сообщение..." rows="3"></textarea>

			<div class="blueButton1 fontBlueColor" id="createConversationLastAccept">Создать</div>

			<ul id="listForAddedParticipants" class="backgroundGray1  hide">

				

				<!--место для вывода результатов поиска-->

			</ul>


		</div>

		<div id="spaceForInformationAboutUser" class='hide'>
            <!--Сюда вставляется информация о юзере-->
            <div class="clear"></div>

            <div id='actionsWithUser'>
              <div id='sendMessageToUser'>
              	<div class='icons'> <img src="<%=publicStaticServer%>/images/imPersonScreenSendMessageIcon.png" alt=""></div><span class="fontBlueColor">Отправить сообщение</span>
              </div> 
              <hr>

              <div id='SendContactOfUser'><div class='icons'><img src="<%=publicStaticServer%>/images/imPersonScreenSendContactIcon.png" alt=""></div><spanclass="fontBlueColor">Отправить контакт</span></div> 
              <hr>
              <div id='inviteUserToEvent'><div class='icons'><img src="<%=publicStaticServer%>/images/imPersonScreenSendEventIcon.png" alt=""></div><span class="fontBlueColor">Пригласить на событие</span></div> 
              <hr>
              <div id='ComplainUser'><div class='icons'><img src="<%=publicStaticServer%>/images/imPersonScreenComplainIcon.png" alt=""></div><span class="fontRedColor">Пожаловаться</span></div> 
              <hr>
              <div id='blockUser'><div class='icons'><img src="<%=publicStaticServer%>/images/imPersonScreenBlockUserIcon.png" alt=""></div><span class="fontRedColor">Блокировать</span></div> 
              <hr>
            </div>
        </div>

        <div id="spaceForInformationAboutConversation" class='hide'>
            <!--Сюда вставляется информация о групповом чате-->
            <div class="clear"></div>
            
            <div id='actionsWithConversation'>
              <div id='inviteUsersInConversation'><div class='icons'><img src="<%=publicStaticServer%>/images/imDialogScreenInviteIcon.png" alt=""></div><span class="fontBlueColor">Пригласить</span></div> 
              <hr>
              <div id='notificationsManagment' style='width:100%'><div class='icons'><img src="<%=publicStaticServer%>/images/imDialogScreenNotificationsIcon.png" alt=""></div><span class="fontBlueColor">Выключить нотификации</span> <p id="indicatorOfNotification" class="fontBlueColor">Вкл</p> </div> 
              <hr>
              <div id='leaveConversation'><div class='icons'><img src="<%=publicStaticServer%>/images/imDialogScreenLeaveDialogIcon.png" alt=""></div><span class="fontRedColor">Покинуть беседу</span></div> 
              <hr>
            </div>

            <div class="fontBlueColor">Участники: </div>

            <div id="wrapperOfListParticipantsInConversation">
              <ul id="ListParticipantsInConversation">              
              	<!--Сюда вставляются участники беседы-->

              </ul>
            </div>

        </div>


		<div class="clear"></div>
	</div>

</div>

