<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="<%=publicStaticServer%>/styles/reset.css"/>
    <link rel="stylesheet" href="<%=publicStaticServer%>/styles/main.css">

    <%-blocks.style%>


    <title><%=blocks.title%></title>
</head>

<body>

<div class="allPage">

    <header class='blueBorders backgroundGray1 fontBlueColor'>

        <div class="topRightCorner">
            <span class="headerUserName fontBlueColor "> <%=(user.name + " " + user.surname)%></span>
            <div class="blueBorders globalAdditionalMenu ">
				<% if(user.photo.length > 0) {%>
				<img src="<%=publicStaticServer%><%=user.photo%>" alt="">

				<% } else {%>
				<img src="<%=publicStaticServer%>/images/testImages/avatar1.png" alt="">

				<% } %>
                <div>
                    <ul>
                        <li class='globalAdditionalMenuIM'>
                            <span class="globalAdditionalMenuLiTitle">Сообщения</span>
							<% if(notifications.newMessages > 0) {%>
							<span class="globalAdditionalMenuLiNotification"><%=notifications.newMessages%></span>
							<%}else{%>
							<span class="globalAdditionalMenuLiNotification" style="visibility:hidden"></span>
							<%}%>
                        </li>
                        <li class='globalAdditionalMenuEvents'>
                            <span class="globalAdditionalMenuLiTitle">События</span>
							<% if(notifications.newEvents > 0) {%>
							<span class="globalAdditionalMenuLiNotification"><%=notifications.newEvents%></span>
							<%}else{%>
							<span class="globalAdditionalMenuLiNotification" style="visibility:hidden"></span>
							<%}%>
                        </li>
                        <li>
                            <span class="globalAdditionalMenuLiTitle">База знаний</span>
							<% if(notifications.newBZn > 0) {%>
							<span class="globalAdditionalMenuLiNotification"><%=notifications.newBZn%></span>
							<%}else{%>
							<span class="globalAdditionalMenuLiNotification" style="visibility:hidden"></span>
							<%}%>
                        </li>
                    </ul>
                </div>
                <span class="clear"></span>
                <div id="globalAdditionalMenuActions" style='float: none;'>
                    <p class="globalAdditionalMenuActionsEdit blueButton1 backgroundGray1 ">Редактировать</p>
                    <p class="globalAdditionalMenuActionsSignOut backgroundGray1 blueButton1 ">Выход</p>
                </div>
            </div>
        </div>
        
        <div class="topLeftCorner">
            <img src="<%=publicStaticServer%>/images/global/menuButton.png" alt="" class="menuButton">
            <div class="globalMenu blueBorders">
                <ul>
                    <li id="topLeftCornerCalendarLink">
                        <div>
                            <img src="<%=publicStaticServer%>/images/global/calendarIcon.png" alt="" style='height:20px;'>
                        </div>
                        <span>Календарь</span>
                    </li>
                    <li id = "topLeftCornerImLink">
                        <div>
                            <img src="<%=publicStaticServer%>/images/global/imIcon.png" alt="">
                        </div>
            
                        <span>Диалоги</span>
                    </li>
                    <li id = "topLeftCornerBZLink" >
                        <div>
                            <img src="<%=publicStaticServer%>/images/global/bzIcon.png" alt="">
                        </div>
                        <span>База знаний</span>
                    </li>
                    <li id = "topLeftCornerProjectLink">
                        <div>
                            <img src="<%=publicStaticServer%>/images/global/projectsIcon.png" alt="">
                        </div>
                        <span>Проекты</span>
                    </li>
                </ul>
            </div>
        </div>
    
    </header>

    <div class="allPageContent">
        <%-body -%>
    </div>

    <ul id="layoutForNotification"></ul>

    <div class="smoothEveryThing hide"><%=blocks.smoothEverythingContent%></div>


</div>


<footer class="fontBlueColor blueBorders backgroundGray1">
   <span>IStudent ©</span>
 </footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="<%=publicStaticServer%>/scripts/Error.js"></script>
<script type="text/javascript" src="<%=publicStaticServer%>/scripts/UserClass.js"></script>
<script type="text/javascript" src="<%=publicStaticServer%>/scripts/additionalMethods.js" ></script>
<script type="text/javascript" src = "<%=publicStaticServer%>/scripts/notifications.js"></script>
<script type="text/javascript" src = "<%=publicStaticServer%>/scripts/menu.js"></script>

<%-blocks.script%>

</body>
</html>
